.qr-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.qr-code-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.qr-code-view {
  width: 60vw;
  height: 60vh;
}
